@inject NavigationManager Navegador;

@if(visible)
{
    <div class="dialogo-contenedor">
       <div class="dialogo-contenido">
           <h3>Se ha agregado correctamente. </h3>
           <button class="btn btn-primary" @onclick="() => Cerrar(true)">Aceptar</button>
           <button class="btn btn-secondary" @onclick="() => Cerrar(false)">Seguir Agregando</button>
       </div>
   </div>
}

@code{
    private bool visible = false;

    public async Task Mostrar()
    {
        visible=true;
        StateHasChanged();
        await Task.Delay(3000);
        visible = false;
        StateHasChanged();
    }
    void Cerrar (bool confirmar)
    {
        visible = false;
        if (confirmar) {
           Navegador.NavigateTo("listadotitulares");
        }
    }
}