@if(visible)
{
    <div class="dialogo-contenedor">
       <div class="dialogo-contenido">
           <button style="margin-left: 90%;" class="btn btn-danger" @onclick="() => Cerrar(false)"><span class="oi oi-x"></span></button>
            <h3>@Mensaje</h3>
            <button class="btn btn-primary" @onclick="() => Cerrar(true)">Aceptar</button>
        </div>
   </div>
}

@code{
    private bool visible = false;
    [Parameter]
    public string Mensaje {get;set;}="";

    [Parameter]
    public EventCallback OnConfirmado{get;set;}

    public async Task Mostrar(bool cerrarSolo)
    {
        visible=true;
        StateHasChanged();
        if (cerrarSolo){
            await Task.Delay(5000);
            visible = false;
        }
    }
    void Cerrar(bool confirmar)
    {
        visible = false ;
        if (confirmar){
            OnConfirmado.InvokeAsync();
        }
    }
}