@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<PageTitle>Aseguradora</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span></span> URL Actual: @currentUrl
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

@code {
    private string? currentUrl;

    protected override void OnParametersSet()
    {
        currentUrl = NavigationManager.Uri;
        currentUrl = currentUrl.Split("/")[3];
    }
}